body{font-family: Sarabun, sans-serif !important;}
header{z-index: 1;}
.main{width: 100%;overflow-x: hidden;}
.main-place{margin-top: 60px;}
.news{
    background-color: #000;
    border-bottom: 3px solid #f00;
}
.news-list{
    position: absolute;
    background-color: #000;
    transition: all .4s linear;
    z-index: 1;
}
.news-list a{border-bottom: 3px solid #f00;}

.esFWal {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 20px 0px;
    margin-bottom: 20px;
}
.esFWal svg {
    display: block;
    margin: 0px 20px 0px 0px;
    font-size: 30px;
    color: rgb(27, 27, 27);
}
.menu-btn{top: calc(50% - 19px);right: 10px;width: 50px;height: 38px;background-color: transparent;border: 1px solid #ccc; border-radius: 5px;cursor: pointer;}
.menu-icon{width: 25px;height: 2px; background-color: #ccc;}
.close-btn .menu-icon{height: 0;}
.menu-icon::before,.menu-icon::after{content: '';position: absolute;left: 0;width: 100%;height: 2px; background-color: #ccc;transform-origin: center;}
.menu-icon::before{top: 7px;transition: transform .4s linear;}
.menu-icon::after{bottom: 7px;transition: transform .4s linear;}
.close-btn .menu-icon::before{top:-1px;transform: rotateZ(45deg);}
.close-btn .menu-icon::after{bottom:-1px;transform: rotateZ(-45deg);}
@media screen and (pointer:fine) {
    .news-list{top: -500%;right: 0;}
    .news-list.show {top: 100%;width: 100%!important;}
}
@media screen and (max-width:500px) {
    .h1{font-size: 1.5rem;}
    .news-list{right: -100%;}
    .news-list.show {right: 0%;width: 90%!important;}
    .news-list img{display: none;}
    .news-list a{border-bottom: 3px solid #f00;}
}