*{margin: 0;padding: 0;box-sizing: border-box;font-family: 'Anton', sans-serif;}
.try-btn {
    top: 50%;
    left: 50%;
    width: 200px;
    height: 90px;
    transform: translate(-50%,-50%);
    background: linear-gradient(180deg,#ed4f88 0%,#942c81 100%);
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
}
.try-btn span{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    -webkit-filter:drop-shadow(2px 2px 1px #333333);
}
